<?xml version="1.0" ?>
<config>
	<modules>
		<Dzinehub_FeaturedCategory>
			<version>1.0.0</version>
		</Dzinehub_FeaturedCategory>
	</modules>
	<frontend>
		<routers>
			<dz_featcat>
				<use>standard</use>
				<args>
					<module>Dzinehub_FeaturedCategory</module>
					<frontName>dz_featcat</frontName>
				</args>
			</dz_featcat>
		</routers>
		<layout>
			<updates>
				<dz_featcat>
					<file>featuredcat.xml</file>
				</dz_featcat>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<dz_featcat>
				<use>admin</use>
				<args>
					<module>Dzinehub_FeaturedCategory</module>
					<frontName>dz_featcat</frontName>
				</args>
			</dz_featcat>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<dz_featcat>
					<file>featuredcat.xml</file>
				</dz_featcat>
			</updates>
		</layout>
	</adminhtml>

	<global>
		<models>
			<dz_featcat>
				<class>Dzinehub_FeaturedCategory_Model</class>
				<resourceModel>dz_featcat_mysql4</resourceModel>
			</dz_featcat>
			<dz_featcat_mysql4>
				<class>Dzinehub_FeaturedCategory_Model_Mysql4</class>
				<entities>
					<category>
						<table>dzinehub_featuredcategory</table>
					</category>
				</entities>
			</dz_featcat_mysql4>
		</models>
		<resources>
			<dz_featcat_setup>
				<setup>
					<module>Dzinehub_FeaturedCategory</module>
					<class>Dzinehub_FeaturedCategory_Model_Mysql4_Setup</class>	
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</dz_featcat_setup>
			<dz_featcat_write>
				<connection>
					<use>core_write</use>
				</connection>
			</dz_featcat_write>
			<dz_featcat_read>
			<connection>
					<use>core_read</use>
				</connection>
			</dz_featcat_read>
		</resources>
		<helpers>
			<dz_featcat>
				<class>Dzinehub_FeaturedCategory_Helper</class>
			</dz_featcat>
		</helpers>
	    <blocks>
	    	<dz_featcat>
	    		<class>Dzinehub_FeaturedCategory_Block</class>
	    	</dz_featcat>
	    </blocks>
	</global>
</config>
